In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5),name = 'column 1')

In [3]:
ser

0    0.312237
1    0.849733
2    0.562985
3    0.886451
4    0.409313
Name: column 1, dtype: float64

In [4]:
ser[2]

0.5629846107604098

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG',data_source='yahoo',start='1995-1-1')

In [7]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.362394
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.311395
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.222139
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.234891
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.209391
...,...,...,...,...,...,...
2020-02-24,126.589996,123.139999,125.260002,123.300003,7533900.0,123.300003
2020-02-25,123.959999,120.879997,123.019997,121.430000,8903200.0,121.430000
2020-02-26,122.389999,119.849998,121.419998,120.160004,6894200.0,120.160004
2020-02-27,119.919998,113.430000,119.120003,113.500000,13298900.0,113.500000
2020-02-28,113.230003,106.669998,109.459999,113.230003,22784300.0,113.230003

In [8]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362394
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311395
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222139
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234891
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209391

In [9]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-02-24,126.589996,123.139999,125.260002,123.300003,7533900.0,123.300003
2020-02-25,123.959999,120.879997,123.019997,121.430000,8903200.0,121.430000
2020-02-26,122.389999,119.849998,121.419998,120.160004,6894200.0,120.160004
2020-02-27,119.919998,113.430000,119.120003,113.500000,13298900.0,113.500000
2020-02-28,113.230003,106.669998,109.459999,113.230003,22784300.0,113.230003

In [10]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6334 entries, 1995-01-03 to 2020-02-28
Data columns (total 6 columns):
High         6334 non-null float64
Low          6334 non-null float64
Open         6334 non-null float64
Close        6334 non-null float64
Volume       6334 non-null float64
Adj Close    6334 non-null float64
dtypes: float64(6)
memory usage: 346.4 KB

In [11]:
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.362394
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.311395
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.222139
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.234891
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.209391
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   6.285892
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   6.273140
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   6.336892
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   6.522122
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   6.574298
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   6.600387
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   6.456901
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   6.430813
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   6.404722
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   6.469945
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   6.456901
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   6.548209
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   6.574298
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   6.756919
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   6.861269

In [12]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-31,126.949997,124.459999,125.989998,124.620003,6612900.0,124.620003
2020-02-03,125.949997,124.489998,124.660004,125.110001,6052300.0,125.110001
2020-02-04,127.349998,125.360001,125.709999,125.660004,6512200.0,125.660004
2020-02-05,127.059998,125.400002,125.910004,126.809998,6125400.0,126.809998
2020-02-06,128.089996,126.599998,126.900002,127.139999,9102700.0,127.139999
2020-02-07,127.269997,126.050003,127.190002,126.080002,5915100.0,126.080002
2020-02-10,126.830002,125.760002,126.459999,126.169998,5216100.0,126.169998
2020-02-11,126.269997,124.029999,126.269997,124.160004,6105700.0,124.160004
2020-02-12,123.970001,122.849998,123.680000,123.449997,6031700.0,123.449997
2020-02-13,125.279999,123.519997,123.730003,124.959999,7159000.0,124.959999
2020-02-14,126.150002,124.790001,125.290001,126.139999,5889100.0,126.139999
2020-02-18,126.180000,124.830002,125.830002,124.870003,6767600.0,124.870003
2020-02-19,126.470001,124.650002,124.849998,125.440002,4734000.0,125.440002
2020-02-20,126.760002,125.129997,125.470001,126.580002,6094600.0,126.580002
2020-02-21,128.070007,125.980003,126.129997,126.699997,8723900.0,126.699997
2020-02-24,126.589996,123.139999,125.260002,123.300003,7533900.0,123.300003
2020-02-25,123.959999,120.879997,123.019997,121.430000,8903200.0,121.430000
2020-02-26,122.389999,119.849998,121.419998,120.160004,6894200.0,120.160004
2020-02-27,119.919998,113.430000,119.120003,113.500000,13298900.0,113.500000
2020-02-28,113.230003,106.669998,109.459999,113.230003,22784300.0,113.230003

In [15]:
tickers = ['PG','MSFT','T','F','GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t,data_source='yahoo',start = '1995-1-1')['Adj Close']

In [16]:
new_data.tail()

                    PG        MSFT          T     F     GE
Date
2020-02-24  123.300003  170.889999  38.049999  7.57  11.86
2020-02-25  121.430000  168.070007  37.349998  7.23  11.32
2020-02-26  120.160004  170.169998  37.099998  7.21  10.95
2020-02-27  113.500000  158.179993  35.730000  6.97  10.39
2020-02-28  113.230003  162.009995  35.220001  6.96  10.88